<app-add-task (onAddTask)="addTask($event)"></app-add-task>
<app-task-item *ngFor = "let task of tasks; let i = index"
               [text]= "task.text"
               [day]= "task.day"
               (delete)="onDeleteTask(i)"
></app-task-item>

