<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task"/>
  </div>
  <div class="form-control">
    <label for="day">Date</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add the due date"/>
  </div>
  <input type="submit" value="Add Task" class="btn btn-block"/>
</form>
