.btn {
  background-color: darkred;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.add-form{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
input {
  background: #f3f3f3;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
